application.flow
[{"id":"b64bf7d2.49b408","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"35333943.caccc6","type":"websocket-listener","path":"/ws/patient/location","wholemsg":"false"},{"id":"5cd1191e.a32ee8","type":"twilio-api","sid":"","from":"","name":""},{"id":"f222f9b8.0ddd08","type":"http in","name":"","url":"/client/:number","method":"get","x":113,"y":187,"z":"1f092f69.e0f6d1","wires":[["5f250736.a0daf8"]]},{"id":"5f250736.a0daf8","type":"template","name":"PatientView","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <meta charset=\"UTF-8\">\n    <title>Patient Helper</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0\">\n\n    <link rel=\"stylesheet\" href=\"//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.css\" />\n    <script src=\"https://code.jquery.com/jquery-1.7.2.min.js\"></script>    \n    <script src=\"https://glassproxy.mybluemix.net/javascript/mqttws31.js\"></script>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.js \"></script>\n    <script>\n    var init = function(){\t\t\n\t\tvar server = \"broker.mqtt-dashboard.com\"\n\t\tvar port = 8000;\n\t\tvar client;\n\t\tvar clientId = \"\"+{{req.params.number}};\n\t\tvar topic = \"/patient/phone/\"+clientId+\"/location\";\n\n\t\tvar onConnect = function() { \n\t\t if (navigator.geolocation){\n\t\t   navigator.geolocation.getCurrentPosition(onSuccess);\n\t\t }else{alert(\"Støtter ikke geoPos\");}\n\t\t};\n\t\tvar onError = function(error) {\n\t\t\t\talert('code: '    + error.code    + '\\n' +\n\t\t\t\t\t  'message: ' + error.message + '\\n');\n\t\t};\t\n\t\tvar\tonConnectionLost = function(responseObject) {\n\t\t if (responseObject.errorCode !== 0)\n\t\t\tconsole.log(\"onConnectionLost:\"+responseObject.errorMessage);\n\t\t\tclient.disconnect();\n\t\t};\n\t\tvar onMessageArrived = function(message) {\n\t\t    // We do not receive message, only send\n\t\t};\n\t\tvar onSuccess = function(position){\n\t\t    // oppdaterer GUI\n\t\t\tvar now = new Date();\n\t\t\tvar akknow = (now.getHours() + ':' + now.getMinutes());\n\t\t\tvar element = document.getElementById('geolocation');\n\t\t\t\t   element.innerHTML = 'Latitude: '  + position.coords.latitude      + '<br />' +\n\t\t\t\t\t\t\t\t\t   'Longitude: ' + position.coords.longitude     + '<br />' +\n\t\t\t\t\t\t\t\t\t   'Name: '+    $('#uname').val() + '<br />' +\n\t\t\t\t\t\t\t\t\t   'Time:'   + now.getHours() + ':' + now.getMinutes() + '<br />' +\n\t\t\t\t\t\t\t\t\t   '<hr />'      + element.innerHTML;\n\t\t\t\n\t\t\t // Send MQTT message to topic /patient/phone/{{phoneNumber}}/location\n\t\t\t var obj={\"d\": {\"myName\": $('#uname').val(),\"Latitude\": position.coords.latitude,\"Longitude\": position.coords.longitude , \"Time\": akknow}};\t\t\t \n\t\t\t message = new Paho.MQTT.Message(JSON.stringify(obj));\n\t\t\t message.destinationName = topic;\n\t\t\t message.qos = parseInt(\"0\"); \n\t\t\t message.retained = false;  \t\t \n\t\t\t client.send(message);\n\t\t\t setTimeout(onConnect, 3000);\n\t\t};\t\t\n\t\t// Make connection to the server.\n\t\tclient = new Paho.MQTT.Client(server, port, \"\", clientId);\n\t\t// Set up a callBacks used when the connection is completed,\n\t\t// when a message arrives for this client and when the connection is lost.\n\t\tclient.onConnectionLost = onConnectionLost;\n\t\tclient.onMessageArrived = onMessageArrived;\n\t\tclient.connect({onSuccess:onConnect, onFailure: function(error) {\n\t\t\tconsole.log(\"Failed to connect to message broker\");\n\t\t}});  \n\t};\n\t</script>\n</head>\n<body>\n\t<div data-role=\"page\" id=\"one\" data-theme=\"a\" class=\"type-interior\">\n\t\t<div data-role=\"header\" data-theme=\"b\">\n\t\t\t<br>\n\t\t\t<h1>Patient Helper</h1>\n\t\t\t<a href=\"index.html\" data-icon=\"home\" data-iconpos=\"top\"  data-direction=\"reverse\">Home</a>\n\t\t</div>\n\t\t<div data-role=\"main\" class=\"ui-content\">\n\t\t\t<input type=\"text\"  id=\"uname\"  data-clear-btn=\"true\" onfocus=\"this.value=''\" value=\"Skriv inn navn:\" />\n\t\t\t<input type=\"submit\"  id=\"conn\" value=\"Start Sporing\" onClick=\"init()\" />\n\t\t\t<form id=\"basic\">\n\t\t\t\t<p id=\"geolocation\">venter på lokasjonsdata...</p>\n   \t\t\t</form>\n\t\t</div>\n    </div>    \n</body>\n</html>","x":304,"y":187,"z":"1f092f69.e0f6d1","wires":[["4283e204.bd7c1c"]]},{"id":"4283e204.bd7c1c","type":"http response","name":"","x":500,"y":188,"z":"1f092f69.e0f6d1","wires":[]},{"id":"8077f7b5.7f8808","type":"debug","name":"","active":false,"console":"true","complete":"true","x":1596,"y":644,"z":"1f092f69.e0f6d1","wires":[]},{"id":"cf6ee8bb.309118","type":"http in","name":"","url":"/map","method":"get","x":83,"y":134,"z":"1f092f69.e0f6d1","wires":[["adab4067.5254c"]]},{"id":"589b306e.a764d","type":"http response","name":"","x":498,"y":134,"z":"1f092f69.e0f6d1","wires":[]},{"id":"adab4067.5254c","type":"template","name":"OperationsView","field":"","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>Ambulance Dispatcher</title>\n  <script type=\"text/javascript\" src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js\"></script>\n  <script type=\"text/javascript\" src=\"https://maps.google.com/maps/api/js?sensor=true\"></script>\n  <script type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.12/gmaps.min.js\"></script>\n  \n  <style type=\"text/css\" media=\"screen\">\n    #map {\n      position:absolute;\n      top: 0; bottom: 0; left: 0; right: 0;\n    }\n  </style>\n</head>\n<body>\n\n  <div id=\"map\"></div>\n  <script type=\"text/javascript\">  \n  \n    // Address pointing to the WebSocket that patient GPS coordinates are retrieved from\n    var server = window.location.hostname;\n    var socketaddy = \"wss://\"+server+\"/ws/patient/location\";\n    \n    var map;\n    var sock;\n    \n    $(document).ready(function(){\n    \n      // Create a new map centered on Oslo\n      map = new GMaps({\n        div: '#map',\n        lat: 58.699776,\n        lng: 10.546875,\n        zoom: 6\n      });\n       \n      \n      // Connect to Location websocket\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){ console.log(\"Connected websocket\");\n          console.log(\"Sender ping..\");\n          sock.send(\"Ping!\");\n          console.log(\"Ping sent..\");\n      };\n      sock.onerror = function(){ console.log(\"Websocket error\"); };\n      \n      // When GPS coordinates are received\n      sock.onmessage = function(evt){\n        var latlng = JSON.parse(evt.data);\n        console.log(latlng.d.myName);\n        console.log(latlng.d.Latitude);\n         \n        // Remove previous marker\n        map.removeMarkers();     \n        \n        console.log(\"Creating marker at \" + latlng.d.Latitude + \", \" + latlng.d.Longitude);\n        \n        map.setZoom(18);\n        map.setCenter(latlng.d.Latitude, latlng.d.Longitude);\n        map.addMarker({\n        \tlat: latlng.d.Latitude,\n        \tlng: latlng.d.Longitude,\n            title: 'Navn: ' + latlng.d.myName + '\\n' + 'Latitude: ' + latlng.d.Latitude + '\\n' + 'Longitude: ' + latlng.d.Longitude + '\\n' + 'Time: ' + latlng.d.Time,\n            click: function(e) {            \n            \tvar alert = confirm(\"Send navigation details to ambulance personel?\");\t\n            \tif(alert) {\n            \t\t$.post('dispatchAmbulance',{\n            \t\t\t\tname: latlng.d.myName,\n            \t\t\t\tlat: latlng.d.Latitude,\n            \t\t\t\tlng: latlng.d.Longitude\n            \t\t\t}, function (){\n            \t\t\t\twindow.alert(\"Ambulance has been dispatched\");\n            \t\t\t}\n            \t\t);\n            \t}\n        \t}\n        });\n      }\n    });\n  </script>\n</body>\n</html>","x":309,"y":134,"z":"1f092f69.e0f6d1","wires":[["589b306e.a764d"]]},{"id":"79da7591.86258c","type":"twilio out","service":"_ext_","twilio":"5cd1191e.a32ee8","from":"","number":"","name":"SMS","x":496,"y":60,"z":"1f092f69.e0f6d1","wires":[]},{"id":"2773eccd.d88c14","type":"inject","name":"Send SMS to patient","topic":"","payload":"http://<your-app-name>.mybluemix.net/client/92040032","payloadType":"string","repeat":"","crontab":"","once":false,"x":117,"y":62,"z":"1f092f69.e0f6d1","wires":[["79da7591.86258c"]]},{"id":"86f0b266.790f5","type":"function","name":"Store patient location","func":"msg.patientLat = msg.payload.lat;\nmsg.patientLng = msg.payload.lng;\nmsg.patientName = msg.payload.name;\nreturn msg;","outputs":"1","valid":true,"x":350,"y":373,"z":"1f092f69.e0f6d1","wires":[["46f07662.b90f88"]]},{"id":"a5fa116a.5a05f","type":"http request","name":"Get patient address","method":"GET","url":"https://maps.googleapis.com/maps/api/geocode/json?latlng={{patientLat}},{{patientLng}}&key=AIzaSyCGBvmim4kx0yem7iKdOghmtMk5XFD49uc","x":1070,"y":548,"z":"1f092f69.e0f6d1","wires":[["a76336b8.589cc8"]]},{"id":"d28b291d.2d74d8","type":"function","name":"Construct Glass Notification","func":"var ambuLat = msg.ambuLat;\nvar ambuLng = msg.ambuLng;\nvar patientLat = msg.patientLat;\nvar patientLng = msg.patientLng;\nvar addr = \"glass://map?w=240&h=360&marker=0;\" + ambuLat + \",\" + ambuLng + \"&marker=1;\" + patientLat + \",\" + patientLng;\n\n/*  Insert payload into Google Glass Timeline\n *  https://developers.google.com/glass/v1/reference/timeline/insert\n*/\nmsg.payload = {\n    \"notification\": {\n      \"level\": \"DEFAULT\"\n    },\n    \"callbackUrl\": \"https://mirrornotifications.appspot.com/forward?url=http://localhost:8081/reply\",\n    \"menuItems\": [{\n      \"action\": \"NAVIGATE\"\n    }],\n    \"html\": \"<article><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><div class=\\\"text-auto-size\\\"><p class=\\\"yellow\\\">Kjappeste vei til</p><p>pasienten \" + msg.patientName + \"</p></div></section></article>\",\n    \"location\": {\n      \"latitude\": msg.payload.results[0].latitude,\n      \"longitude\": msg.payload.results[0].longitude,\n      \"displayName\": msg.payload.results[0].formatted_address\n    }\n};\n\nreturn [msg, addr]; ","outputs":"1","valid":true,"x":1372,"y":645,"z":"1f092f69.e0f6d1","wires":[["387608a9.c789f8","8077f7b5.7f8808"]]},{"id":"a76336b8.589cc8","type":"json","name":"","x":1207,"y":597,"z":"1f092f69.e0f6d1","wires":[["d28b291d.2d74d8"]]},{"id":"387608a9.c789f8","type":"http request","name":"Send notification to ambulance","method":"POST","url":"http://glassproxy.mybluemix.net/timeline/117059099648984892989","x":1589,"y":690,"z":"1f092f69.e0f6d1","wires":[["5c90fdb4.a36f04"]]},{"id":"b4c1bc2f.4b3e4","type":"websocket out","name":"WS Output coords to OperationsView","server":"35333943.caccc6","x":425,"y":240,"z":"1f092f69.e0f6d1","wires":[]},{"id":"8076a429.7f8958","type":"debug","name":"","active":true,"console":"false","complete":"true","x":332,"y":283,"z":"1f092f69.e0f6d1","wires":[]},{"id":"a86ecef8.57913","type":"http in","name":"","url":"/dispatchAmbulance","method":"post","x":136,"y":326,"z":"1f092f69.e0f6d1","wires":[["86f0b266.790f5"]]},{"id":"46f07662.b90f88","type":"http request","name":"Get ambulance location","method":"GET","url":"http://glassproxy.mybluemix.net/location/117059099648984892989","x":551,"y":416,"z":"1f092f69.e0f6d1","wires":[["a2f6a48f.5d0958"]]},{"id":"448f1aaf.bb70e4","type":"function","name":"Store ambulance location","func":"msg.ambuLat = msg.payload.latitude;\nmsg.ambuLng = msg.payload.longitude;\nreturn msg;","outputs":"1","valid":true,"x":866,"y":503,"z":"1f092f69.e0f6d1","wires":[["a5fa116a.5a05f"]]},{"id":"a2f6a48f.5d0958","type":"json","name":"","x":705,"y":457,"z":"1f092f69.e0f6d1","wires":[["448f1aaf.bb70e4"]]},{"id":"5c90fdb4.a36f04","type":"http response","name":"Send response to OperationsView ","x":1915,"y":690,"z":"1f092f69.e0f6d1","wires":[]},{"id":"52b5aba7.ad4a54","type":"mqtt in","name":"","topic":"/patient/phone/+/location","broker":"b64bf7d2.49b408","x":128,"y":240,"z":"1f092f69.e0f6d1","wires":[["8076a429.7f8958","b4c1bc2f.4b3e4"]]}]