application.flow
[{"id":"b64bf7d2.49b408","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"35333943.caccc6","type":"websocket-listener","path":"/ws/patient/location","wholemsg":"false"},{"id":"5cd1191e.a32ee8","type":"twilio-api","sid":"","from":"","name":""},{"id":"8b8f9f3d.74706","type":"http in","name":"","url":"/map","method":"get","x":83,"y":174,"z":"e5022972.1afdd8","wires":[["a1eba9ec.5e1458"]]},{"id":"17d5cc31.e82a34","type":"http response","name":"","x":498,"y":174,"z":"e5022972.1afdd8","wires":[]},{"id":"a1eba9ec.5e1458","type":"template","name":"OperationsView","field":"","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>Ambulance Dispatcher</title>\n  <script type=\"text/javascript\" src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js\"></script>\n  <script type=\"text/javascript\" src=\"https://maps.google.com/maps/api/js?sensor=true\"></script>\n  <script type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.12/gmaps.min.js\"></script>\n  \n  <style type=\"text/css\" media=\"screen\">\n    #map {\n      position:absolute;\n      top: 0; bottom: 0; left: 0; right: 0;\n    }\n  </style>\n</head>\n<body>\n\n  <div id=\"map\"></div>\n  <script type=\"text/javascript\">  \n  \n    // Address pointing to the WebSocket that patient GPS coordinates are retrieved from\n    var server = window.location.hostname;\n    var socketaddy = \"wss://\"+server+\"/ws/patient/location\";\n    \n    var map;\n    var sock;\n    \n    $(document).ready(function(){\n    \n      // Create a new map centered on Oslo\n      map = new GMaps({\n        div: '#map',\n        lat: 58.699776,\n        lng: 10.546875,\n        zoom: 6\n      });\n       \n      \n      // Connect to Location websocket\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){ console.log(\"Connected websocket\");\n          console.log(\"Sender ping..\");\n          sock.send(\"Ping!\");\n          console.log(\"Ping sent..\");\n      };\n      sock.onerror = function(){ console.log(\"Websocket error\"); };\n      \n      // When GPS coordinates are received\n      sock.onmessage = function(evt){\n        var latlng = JSON.parse(evt.data);\n        console.log(latlng.d.myName);\n        console.log(latlng.d.Latitude);\n         \n        // Remove previous marker\n        map.removeMarkers();     \n        \n        console.log(\"Creating marker at \" + latlng.d.Latitude + \", \" + latlng.d.Longitude);\n        \n        map.setZoom(18);\n        map.setCenter(latlng.d.Latitude, latlng.d.Longitude);\n        map.addMarker({\n        \tlat: latlng.d.Latitude,\n        \tlng: latlng.d.Longitude,\n            title: 'Navn: ' + latlng.d.myName + '\\n' + 'Latitude: ' + latlng.d.Latitude + '\\n' + 'Longitude: ' + latlng.d.Longitude + '\\n' + 'Time: ' + latlng.d.Time,\n            click: function(e) {            \n            \tvar alert = confirm(\"Send navigation details to ambulance personel?\");\t\n            \tif(alert) {\n            \t\t$.post('dispatchAmbulance',{\n            \t\t\t\tname: latlng.d.myName,\n            \t\t\t\tlat: latlng.d.Latitude,\n            \t\t\t\tlng: latlng.d.Longitude\n            \t\t\t}, function (){\n            \t\t\t\twindow.alert(\"Ambulance has been dispatched\");\n            \t\t\t}\n            \t\t);\n            \t}\n        \t}\n        });\n      }\n    });\n  </script>\n</body>\n</html>","x":309,"y":174,"z":"e5022972.1afdd8","wires":[["17d5cc31.e82a34"]]},{"id":"db88e4fb.247718","type":"twilio out","service":"_ext_","twilio":"5cd1191e.a32ee8","from":"","number":"","name":"SMS","x":511,"y":101,"z":"e5022972.1afdd8","wires":[]},{"id":"b0fb7acd.4f0488","type":"inject","name":"Send SMS to patient","topic":"","payload":"http://<your-app-name>.mybluemix.net/client/92040032","payloadType":"string","repeat":"","crontab":"","once":false,"x":127,"y":101,"z":"e5022972.1afdd8","wires":[["db88e4fb.247718"]]},{"id":"c5f7ac1.f3a085","type":"http in","name":"","url":"/client/:number","method":"get","x":116,"y":381,"z":"e5022972.1afdd8","wires":[["89d3008a.762d"]]},{"id":"89d3008a.762d","type":"template","name":"PatientView","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <meta charset=\"UTF-8\">\n    <title>Patient Helper</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0\">\n\n    <link rel=\"stylesheet\" href=\"//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.css\" />\n    <script src=\"https://code.jquery.com/jquery-1.7.2.min.js\"></script>    \n    <script src=\"https://glassproxy.mybluemix.net/javascript/mqttws31.js\"></script>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.js \"></script>\n    <script>\n    var init = function(){\t\t\n\t\tvar server = \"broker.mqtt-dashboard.com\"\n\t\tvar port = 8000;\n\t\tvar client;\n\t\tvar clientId = \"\"+{{req.params.number}};\n\t\tvar topic = \"/patient/phone/\"+clientId+\"/location\";\n\n\t\tvar onConnect = function() { \n\t\t if (navigator.geolocation){\n\t\t   navigator.geolocation.getCurrentPosition(onSuccess);\n\t\t }else{alert(\"Støtter ikke geoPos\");}\n\t\t};\n\t\tvar onError = function(error) {\n\t\t\t\talert('code: '    + error.code    + '\\n' +\n\t\t\t\t\t  'message: ' + error.message + '\\n');\n\t\t};\t\n\t\tvar\tonConnectionLost = function(responseObject) {\n\t\t if (responseObject.errorCode !== 0)\n\t\t\tconsole.log(\"onConnectionLost:\"+responseObject.errorMessage);\n\t\t\tclient.disconnect();\n\t\t};\n\t\tvar onMessageArrived = function(message) {\n\t\t    // We do not receive message, only send\n\t\t};\n\t\tvar onSuccess = function(position){\n\t\t    // oppdaterer GUI\n\t\t\tvar now = new Date();\n\t\t\tvar akknow = (now.getHours() + ':' + now.getMinutes());\n\t\t\tvar element = document.getElementById('geolocation');\n\t\t\t\t   element.innerHTML = 'Latitude: '  + position.coords.latitude      + '<br />' +\n\t\t\t\t\t\t\t\t\t   'Longitude: ' + position.coords.longitude     + '<br />' +\n\t\t\t\t\t\t\t\t\t   'Name: '+    $('#uname').val() + '<br />' +\n\t\t\t\t\t\t\t\t\t   'Time:'   + now.getHours() + ':' + now.getMinutes() + '<br />' +\n\t\t\t\t\t\t\t\t\t   '<hr />'      + element.innerHTML;\n\t\t\t\n\t\t\t // Send MQTT message to topic /patient/phone/{{phoneNumber}}/location\n\t\t\t var obj={\"d\": {\"myName\": $('#uname').val(),\"Latitude\": position.coords.latitude,\"Longitude\": position.coords.longitude , \"Time\": akknow}};\t\t\t \n\t\t\t message = new Paho.MQTT.Message(JSON.stringify(obj));\n\t\t\t message.destinationName = topic;\n\t\t\t message.qos = parseInt(\"0\"); \n\t\t\t message.retained = false;  \t\t \n\t\t\t client.send(message);\n\t\t\t setTimeout(onConnect, 3000);\n\t\t};\t\t\n\t\t// Make connection to the server.\n\t\tclient = new Paho.MQTT.Client(server, port, \"\", clientId);\n\t\t// Set up a callBacks used when the connection is completed,\n\t\t// when a message arrives for this client and when the connection is lost.\n\t\tclient.onConnectionLost = onConnectionLost;\n\t\tclient.onMessageArrived = onMessageArrived;\n\t\tclient.connect({onSuccess:onConnect, onFailure: function(error) {\n\t\t\tconsole.log(\"Failed to connect to message broker\");\n\t\t}});  \n\t};\n\t</script>\n</head>\n<body>\n\t<div data-role=\"page\" id=\"one\" data-theme=\"a\" class=\"type-interior\">\n\t\t<div data-role=\"header\" data-theme=\"b\">\n\t\t\t<br>\n\t\t\t<h1>Patient Helper</h1>\n\t\t\t<a href=\"index.html\" data-icon=\"home\" data-iconpos=\"top\"  data-direction=\"reverse\">Home</a>\n\t\t</div>\n\t\t<div data-role=\"main\" class=\"ui-content\">\n\t\t\t<input type=\"text\"  id=\"uname\"  data-clear-btn=\"true\" onfocus=\"this.value=''\" value=\"Skriv inn navn:\" />\n\t\t\t<input type=\"submit\"  id=\"conn\" value=\"Start Sporing\" onClick=\"init()\" />\n\t\t\t<form id=\"basic\">\n\t\t\t\t<p id=\"geolocation\">venter på lokasjonsdata...</p>\n   \t\t\t</form>\n\t\t</div>\n    </div>    \n</body>\n</html>","x":307,"y":381,"z":"e5022972.1afdd8","wires":[["ee111dd9.11eee"]]},{"id":"ee111dd9.11eee","type":"http response","name":"","x":503,"y":382,"z":"e5022972.1afdd8","wires":[]},{"id":"6ac01d77.953fe4","type":"websocket out","name":"WS Output coords to OperationsView","server":"35333943.caccc6","x":428,"y":434,"z":"e5022972.1afdd8","wires":[]},{"id":"7567649c.8a989c","type":"debug","name":"","active":true,"console":"false","complete":"true","x":335,"y":477,"z":"e5022972.1afdd8","wires":[]},{"id":"fe798b11.018678","type":"mqtt in","name":"","topic":"/patient/phone/+/location","broker":"b64bf7d2.49b408","x":131,"y":434,"z":"e5022972.1afdd8","wires":[["6ac01d77.953fe4","7567649c.8a989c"]]},{"id":"6505b154.9afa5","type":"comment","name":"------------- Bonus Challenge -------------","info":"","x":177,"y":338,"z":"e5022972.1afdd8","wires":[]},{"id":"ed251871.12dae8","type":"comment","name":"Challenge 1","info":"","x":76,"y":57,"z":"e5022972.1afdd8","wires":[]}]